=render 'shared/public_nav'
.coffee-new-container

  .bevereages-new-hero-header
    =link_to '< Atrás', :back
    %p ¿Cuántos cafes?


  = form_with(model: [@profile, @beverage], local: true, id: 'ffff') do |form|
    - if @beverage.errors.any?
      #error_explanation
        %h2
          = pluralize(@beverage.errors.count, "error")
          prohibited this profile from being saved:
        %ul
          - @beverage.errors.full_messages.each do |message|
            %li= message

    .form-container-no-button

      .part-1.form-card

        .side-a
          =image_tag("coffe.svg")
          %br
          %span#amount= @profile.amount.to_s + " " + @profile.currency

        .side-middle
          %span X

        .side-b
          .radio-circle
            = form.radio_button :quantity, @profile.m1, id: 'radiobutton1'
            %span= @profile.m1
          .radio-circle
            = form.radio_button :quantity, @profile.m2, id: 'radiobutton2'
            %span= @profile.m2
          .radio-circle
            = form.radio_button :quantity, @profile.m3, id: 'radiobutton3'
            %span= @profile.m3
          .radio-circle
            = form.radio_button :quantity, @profile.m4, id: 'radiobutton4'
            %span= @profile.m4
          %br
          %span.total Total:
          %span#total.total 0
          %span.total= @profile.currency


      #accounts-info.form-card
        %p.datos-de=  "Datos de  " + @profile.fullname.split[0]

        -@profile.accounts.each do |account|
          -if account.bank != ''
            %p
              %span.accounts-info-title Entidad:
              =account.bank

          -if account.paypal != ''
            %p
              %span.accounts-info-title Entidad:
              =account.paypal

          -if account.email != ''
            %p
              %span.accounts-info-title Email:
              =account.email

          -if account.emailpaypal != ''
            %p
              %span.accounts-info-title Email:
              =account.emailpaypal

          -if account.account_number != ''
            %p
              %span.accounts-info-title Nro de cuenta:
              =account.account_number

          -if account.kind != ''
            %p
              %span.accounts-info-title Tipo de cuenta:
              =account.kind

          -if account.cedula != ''
            %p
              %span.accounts-info-title RIF o cédula :
              =account.cedula

          %br
          - if @profile.accounts.last != account
            %hr
          %br



      #part-2.form-card
        %p.tus-datos Tus datos

        = form.label :contributor, 'Nombre'
        = form.text_field :contributor, class: 'form-control'

        = form.label :occupation, 'Ocupación'
        = form.text_field :occupation, class: 'form-control'

        = form.label :message, 'Mensaje de agradecimiento'
        = form.text_area :message, class: 'form-control ', maxlength: '150'




    .actions
      = form.submit '¡Listo! Notificar a ' + @profile.fullname.split[0], class: 'btn beverages-submit'




