
.container-fluid


  =render 'shared/admin_nav_top'

  .row.full-screen
    .col-2.side-bar.pl-4.pt-4
      =render 'shared/admin_nav_side'

    .col-10.main-content-profile-edit.px-5

      .title.pt-5.pl-2.admin-title-font
        %h1 Perfil del usuario
        %hr

      = form_with(model: @profile, local: true) do |form|
        - if @profile.errors.any?
          #error_explanation
            %h2
              = pluralize(@profile.errors.count, "error")
              prohibited this profile from being saved:
            %ul
              - @profile.errors.full_messages.each do |message|
                %li= message
        .row
          .col-sm-7.col-xs-12.p-4
            .profile-edit-form
              .row
                .col-sm-6
                  = form.label :fullname, 'Nombre y Apellido', class: 'form-font'
                  = form.text_field :fullname, class: 'form-control'
                .col-sm-6
                  = form.label :occupation, 'Ocupación o rol', class: 'form-font'
                  = form.text_field :occupation, class: 'form-control'
              .row
                .col-sm-12.pt-5.pb-2
                  = form.label :bio, 'Biografía', class: 'form-font'
                  = form.hidden_field :bio, class: 'form-control', id: 'wys'
                  %trix-editor.trix-editor{ input: 'wys'}
          .col-sm-5.col-xs.12.p-4
            .profile-edit-form
              = form.label :amount, 'Monto de un café', class: 'form-font'
              = form.text_field :amount, class: 'form-control'
              .field.form-group
              = form.label :currency, 'Símbolo de la moneda', class: 'form-font'
              = form.text_field :currency, class: 'form-control'
              .multiplicadores
                %p.form-font Multiplicadores
                .radio-inputs
                  =form.text_field :m1, class: 'form-control form-coffe-numbers', maxlength: '1'
                  =form.text_field :m2, class: 'form-control form-coffe-numbers', maxlength: '1'
                  =form.text_field :m3, class: 'form-control form-coffe-numbers', maxlength: '1'
                  =form.text_field :m4, class: 'form-control form-coffe-numbers', maxlength: '1'
        %hr
        .row.image-section
          .col-sm-5.text-center.pt-5.form-font
            %p Puedes subir tu foto de perfil aquí
          .col-sm-7
            = form.file_field :avatar, class: 'dropify load-area'
        %hr
        .footer
          = form.submit 'Guardar', class: 'btn profile-save form-font'



