=render 'shared/public_nav'

.profile-show-container

  .profile-bio
    %p= sanitize @profile.bio


  #carouselControlsImages.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      - @publicImages.each do |image|
        .carousel-item.carouselitemimages
          .profile-images
            -begin
              =image_tag(image.photo)
              %span=image.subtitle
            -rescue
              =image_tag("coffe.png")
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselControlsImages", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselControlsImages", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next





  #carouselControlsDonations.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      -@donations.each do |d|
        .carousel-item.carouselitemdonations
          .profile-donations
            -if d.kind_of?(Beverage)
              =image_tag 'coffe.png',  class: 'donation-coffee'
              #number-circle
                %span#number-quantity= d.quantity
            - elsif d.kind_of?(Hug)
              =image_tag 'heart.png' , class: 'donation-hug'
              -# %p.number-duration= d.duration
            - begin
              %span.name= d.donation.contributor
              %span.occupation= d.donation.occupation
              %p.message= d. donation.message
            - rescue
              %p no message here
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselControlsDonations", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselControlsDonations", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next



  .btn.profile-to-menu-button
    -if @profile.fullname != ''
      = link_to 'Dar abrazos o cafés a ' + @profile.fullname.split[0], donationsmanager_menu_path(@profile)
    - else
      %p Este perfil aun esta vacio!






