

-# .col-sm-2.col-xs-9.nav-logo
-#   =link_to image_tag('logo_button.svg'), root_path

-# .col-sm-8.col-xs-1.nav-search
-#   .barra
-# .col-sm-2.col-xs.2.nav-avatar
-#   - begin
-#     =image_tag(current_user.profile.avatar)
-#   - rescue
-#     =link_to image_tag("profile.png")
-#   =link_to current_user.profile.fullname, profile_path(current_user.profile), class: 'fullname-font'


.row.px-0
  .col-sm-2.col-xs-9.nav-logo
    =link_to image_tag('logo_button.svg'), root_path

  .col-sm-10.pt-0.px-0
    .navbartop
      .nav-search
        .barra
      .nav-avatar
        - begin
          =image_tag(current_user.profile.avatar)
        - rescue
          =link_to image_tag("profile.png")
        =link_to current_user.profile.fullname, profile_path(current_user.profile), class: 'fullname-font'





