

- @images_bool =  current_page?( new_profile_image_path(current_user.profile) ) || current_page?( profile_images_path(current_user.profile) )

- @accounts_bool = current_page?( new_profile_account_path(current_user.profile) ) || current_page?( profile_accounts_path(current_user.profile) )


.icono-nav
  - if current_page?(edit_profile_path(current_user.profile))
    =image_tag "perfilpink.svg", class: 'icon-svg'
    =link_to 'Perfil', edit_profile_path(current_user.profile), id: 'pink-icon'
  - else
    =image_tag "perfil.svg", class: 'icon-svg'
    =link_to 'Perfil', edit_profile_path(current_user.profile)

.icono-nav
  -begin
    -if @images_bool
      =image_tag "perfilpink.svg",  class: 'icon-svg'
      =link_to 'Imágenes', profile_images_path(current_user.profile), id: 'pink-icon'
    -elsif current_page?(edit_image_path)
      =image_tag "perfilpink.svg",  class: 'icon-svg'
      =link_to 'Imágenes', profile_images_path(current_user.profile), id: 'pink-icon'
    -else
      =image_tag "perfil.svg",  class: 'icon-svg'
      =link_to 'Imágenes', profile_images_path(current_user.profile)
  -rescue
    =image_tag "perfil.svg",  class: 'icon-svg'
    =link_to 'Imágenes', profile_images_path(current_user.profile)


.icono-nav
  -begin
    -if @accounts_bool
      =image_tag "cuentaspink.svg",  class: 'icon-svg'
      =link_to 'Cuentas', profile_accounts_path(current_user.profile), id: 'pink-icon'
    -elsif current_page?(edit_account_path)
      =image_tag "cuentaspink.svg",  class: 'icon-svg'
      =link_to 'Cuentas', profile_accounts_path(current_user.profile), id: 'pink-icon'
    -else
      =image_tag "cuentas.svg",  class: 'icon-svg'
      =link_to 'Cuentas', profile_accounts_path(current_user.profile)
  -rescue
    =image_tag "cuentas.svg",  class: 'icon-svg'
    =link_to 'Cuentas', profile_accounts_path(current_user.profile)









