
.shared-public-nav-container
  .item-1.circled-avatar
    - begin
      =link_to image_tag(@profile.avatar), profile_path(@profile)
    - rescue
      =link_to image_tag("profile.png"), profile_path(@profile)
  .item-2.datos-nav
    .datosnavwrapper
      =link_to @profile.fullname, profile_path(@profile)
      %span= @profile.occupation
  .item-1.buttonroot
    =link_to image_tag("logo_button.svg"), root_path



