
=render 'shared/public_nav'

.donations-menu-container

  .header
    =link_to '< Atrás', profile_path(@profile), class: 'atras'
    %p.subtitle=  "Formas de reconocer a " + @profile.fullname.split[0]


  .row
    .col-sm-6
      .menu-card-coffee
        =link_to image_tag("option_coffee.svg"), new_profile_beverage_path(@profile)
    .col-sm-6
      .menu-card-hug
        -# =image_tag 'heartbig.svg', class: 'layoverheart'
        =link_to image_tag("heartbig.svg"), new_profile_hug_path(@profile), class: 'layoverheart'
        =link_to image_tag("optionheart.svg"), new_profile_hug_path(@profile)


  .menu-intructions-img
    =image_tag("doll.svg")

