=render 'shared/public_nav'
.donations-thankyou-container

  =link_to '< Perfil', profile_path(@profile), class: 'thankyou-button-perfil'
  .thankyou-heart-coffee
    .thankyou-heart-img
      =image_tag("heartbig.svg")
    .thankyou-coffees-img
      =image_tag("coffeesbig.svg")
  .thankyou-gracias
    =image_tag("Gracias.svg")


