=render 'shared/public_nav'
.hug-new-container

  .header
    =link_to '< Atrás', :back
    %p.hide-me Presiona el botón para abrazar

  = form_with(model: [@profile, @hug], local: true) do |form|
    - if @hug.errors.any?
      #error_explanation
        %h2
          = pluralize(@hug.errors.count, "error")
          prohibited this profile from being saved:
        %ul
          - @hug.errors.full_messages.each do |message|
            %li= message

    .form-container-no-button
      .hug-section
        .hug-touch
          =image_tag "hug.svg", class: 'svghug'
          .mini-circle-1.mini-circles
          .mini-circle-2.mini-circles
          .mini-circle-3.mini-circles
          .mini-circle-4.mini-circles
          .mini-circle-5.mini-circles
          .mini-circle-6.mini-circles
          .mini-circle-7.mini-circles
          .mini-circle-8.mini-circles
        = form.text_field :duration, class: 'form-control inputseconds d-none'
        %p.timer-counter
          %span Abrazo de
          %span.seconds 0
          %span.miliseconds .00
          %span segundos
        %span.instructions-hug Mientras más tiempo lo presiones, mayor será el abrazo



      .form-section.d-none
        %p.header-b
          %strong
            %span Enviando un abrazo de
            %span.seconds 0
            %span.miliseconds .00
            %span seg
        .form-section-card
          %p Tus datos

          = form.label :contributor, 'Nombre'
          = form.text_field :contributor, class: 'form-control'

          = form.label :occupation, 'Ocupación'
          = form.text_field :occupation, class: 'form-control'

          = form.label :message, 'Mensaje de agradecimiento'
          = form.text_area :message, class: 'form-control', maxlength: '150'

    .actions.hugs-submit-container.d-none
      = form.submit '¡Listo! Notificar a ' + @profile.fullname.split[0], class: 'btn hugs-submit'

  #testme.hugs-next.btn
    Siguiente
