
<div class="log-in-container container-fluid">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field customfield">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field customfield">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, class: 'checkmark' %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions login-signup-button">
      <%# <p>Log in</p> %>
      <%= f.submit "Log in", class: 'testmehere' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
