


.home-container
  .row.header
    .col-sm-9.button-logo
      =link_to image_tag("logo_button.svg"), root_path

    .col-sm-3.button-session
      -if current_user
        = link_to 'Sign out', destroy_user_session_path, method: :delete
      -else
        = link_to 'Sign  in', new_user_session_path
      %hr.pink-line


  .home-hero
    =image_tag("coffees.svg", :alt => "coffee")

    %h2 Un café  es un abrazo atrapado en una taza


    %p Recibe aprecio y gratitud mediante donaciones online

    .home-button-profile
      -unless current_user
        = link_to 'Crear mi perfil', new_user_registration_path
      -else
        =link_to 'Ir a mi perfil', edit_profile_path(current_user.profile)
