// accounts index

.full-screen {
  min-height: 100vh;
}

.index-account {
  color: #454F5B;
  background-color: #F4F6F8;
  .title {
    position: relative;
    h1 {
      display: inline-block;
      font-weight: bold;

      color: #212B36;
    }
    a {
      background-color: #EE4380;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      color: #FFFFFF;
      display: inline-block;
      margin: 34px 0;
      padding: 10px 40px;
      position: absolute;
      right: 5px;
      top: 15px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .accounts-table {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 20px;


    .table-encabezado {
      position: relative;

      p {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
      }

      hr {
        position: absolute;
        bottom: -40px;
        width: 69px;
        border: 3px solid #EE4380;
      }

    }

    td {
      color: #9C9A9A;
      font-size: 1.1rem;
      p {
        margin-top: 13px;
      }

    }

    .icons-actions {
      text-align: right;
      position: relative;

      .dots {
        display: inline-block;
        margin: 10px 10px;
        margin-top: 25px;
        padding: 10px;
        padding-bottom: 25px;
      }
      .dots:hover + .hideme {
        display: block;
      }

      .hideme {
        display: none;
        position: absolute;
        right: 31px;
        top: 48px;
        text-align: left;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.25), 0px 0px 0px rgba(10, 10, 10, 0.25);
        border-radius: 5px;
        .element {
          a {
            color: #454F5B;
            font-size: 13px;
            display: inline-block;
            margin: 8px 35px;
          }
          a:hover { text-decoration: none;}
        }
        .element:hover {
          background-color: #F4F6F8;
        }
        .eliminar {
          position: relative;
          img {
            position: absolute;
            top: 11px;
            left: 12px;
          }
        }
      }
      .hideme:hover {
        display: block;
      }
    }

  }
}

.footer {
  text-align: right;
  padding-bottom: 40px;
  .pink-button {
    background-color: #EE4380;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    margin: 34px 0;
    padding: 10px 40px
  }
}









// account new

.new-account {
  color: #454F5B;
  background-color: #F4F6F8;
  .title {
    h1 {
      display: inline-block;
      font-weight: bold;
      color: #212B36;
    }
    a {
      color: #454F5B;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      padding-left: 20px;
    }
    a:hover {
      color: #454F5B;
      text-decoration: none;
    }
    img {
      position: absolute;
      top: 5px;
      left: 0;
      display:inline-block;
    }

    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }


  .optionscontainer {
    .optionswrapper {
      text-align: center;
      #bank {
        display: inline-block;
        margin: 10px 10px 40px;
        background-color: #EE4380;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        color: #FFFFFF;
        :hover {
          cursor: pointer;
        }
      }
      #paypal {
        display: inline-block;
        margin: 10px 10px 40px;
        background-color: #EE4380;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        color: #FFFFFF;
        :hover {
          cursor: pointer;
        }
      }
      span {
        display: inline-block;
        padding: 10px 15px;
      }
    }
  }

  .account-form-new {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 33px

  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}





// account edit

.edit-account {
  color: #454F5B;
  background-color: #F4F6F8;
  .title {
    h1 {
      display: inline-block;
      font-weight: bold;

      color: #212B36;
    }
    a {
      color: #454F5B;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      padding-left: 20px;
    }
    a:hover {
      color: #454F5B;
      text-decoration: none;
    }
    img {
      position: absolute;
      top: 5px;
      left: 0;
      display:inline-block;
    }
    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .optionscontainer {
    .optionswrapper {
      text-align: center;
      #bankedit {
        display: inline-block;
        margin: 10px 10px 40px;
        background-color: #EE4380;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        color: #FFFFFF;
        :hover {
          cursor: pointer;
        }
      }
      #paypaledit {
        display: inline-block;
        margin: 10px 10px 40px;
        background-color: #EE4380;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        color: #FFFFFF;
        :hover {
          cursor: pointer;
        }
      }
      span {
        display: inline-block;
        padding: 10px 15px;
      }
    }
  }

  .account-form-edit {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 33px;

  }
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}


.instructions-1 {
  padding-right: 70px;
  padding-top: 60px;
  .info-a {
    font-weight:bold;
    color: black;

  }
  .info-b {
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #637381;
  }
}
