
.home-container {

  min-height: 80vh;

  .header {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 15px 0;

    .button-logo {
      img {
        position: relative;
        width: 108px;
        height: 99px;
        top: 6px;
        left: 7%;
      }
    }

    .button-session {

      a {
        color: black;
        font-size: 2.7em;
        text-decoration: none;
        position: relative;
        top: 22px;
        right: -18%;
        font-family: Roboto;
        font-weight: 300;
      }

      .pink-line {
        width: 133px;
        border: 4.5px solid #EE4380;
        position: relative;
        top: 30px;
        // right: -3%;
      }

    }

  }

  .home-hero {
    background-color: #f4f6f8;
    min-height: 100vh;
    text-align: center;
    padding-top: 10%;
    padding-left: 120px;
    padding-right: 120px;

    img {
      display: inline-block;
      margin-bottom: 13%;
      height: 70%;
      width: 60%;
    }
    h2 {
      font-family: 'Happy Monkey';
      font-size: 4em;
      margin-bottom: 13%;
    }
    p {
      color: #8F8F8F;
      font-size: 3.1em;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 45px;
      line-height: 121%;
    }
    .home-button-profile {
      font-family: 'Roboto', sans-serif;
      font-size: 2.4em;
      display: inline-block;
      background: #EE4380;
      border-radius: 5px;
      text-align: center;
      padding: 22px 35px;
      margin: 7% auto;
      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
  }


}



