
.coffee-new-container {
  background-color: #F4F6F8;
  padding-top: 25px;
  padding-bottom: 150px;
  position: relative;


  .bevereages-new-hero-header {
    margin: 30px 59px;
    a {
      font-size: 2.3rem;
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      font-weight: bold;
      font-size: 2.6rem;
      margin-top: 1%;
    }
  }

  .form-container-no-button {
    padding: 0px 40px;
    padding-bottom: 15px;

    .form-card {
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
      border-radius: 5px;

    }

    .part-1 {
      padding-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      padding: 4% 1%;


      margin: 5% 0;
      font-size: 2em;
      .side-a {
        flex-grow: 3;
        text-align: center;
        img {
          height: 60% ;
          width: 40%;
          position: relative;
          top: 24px;
        }
        span {
          display:inline-block;
          font-size: .8em;
          color:#8F8F8F;
          position: relative;
          top: 16%;
        }
      }

      .side-middle {
        flex-grow: 1;
        text-align: center;
        span {
          display: inline-block;
          font-size: 1.5em;
          position: relative;
          top: 21%;
          left: 16.7%;
        }
      }

      .side-b {
        flex-grow: 4;
        text-align: center;

        .radio-circle {
          border: .5px solid #EE4380;
          border-radius: 50%;
          display: inline-block;
          width: 116px;
          height: 109px;
          padding: 5px;
          margin: 5px 5px;
          position: relative;
          top: 9%;

          input {
            opacity: 0;
            position: relative;
            left: 25%;
            top: 17%;
            transform: scale(8);
            z-index: 1;
          }
          span {
            position: relative;
            display: inline-block;
            left: -10px;
            top: 23px;
          }
        }

        .radio-circle:hover {
          background-color: #EE4380;
          span {
            color: white;
          }
        }
        .total {
          font-size: 0.8em;
          color: black;
          font-weight: bold;
          position: relative;
          top: 16%;
        }
      }
     }



    #accounts-info {
      padding: 5% 5%;
      padding-bottom: 15px;
      line-height: 124%;
      color: #454F5B;
      font-weight: 300;
      font-size: 2em;
      margin-bottom: 5%;
      .datos-de {
        font-size: 2.7rem;
        color: black;
        margin-bottom: 7%;



      }
      .accounts-info-title {
        font-weight: bold;
        display: inline-block;
        margin-right: 20px;
       }
    }

    #part-2 {
      padding: 6% 5%;
      font-weight: 300;
      .tus-datos {
        font-size: 2.7rem;
        color: black;
        // margin-bottom: 6%;
      }
      label {
        font-size: 2.1rem;
        margin-top: 6.5%;
        display: inline-block;
      }
      input {
        height: 90px;
        font-size: 2rem;
      }
      textarea {
        min-height: 150px;
        font-size: 2rem;
      }

    }

  }

  .pinkmeup {
    background-color: #EE4380;
    span {
      color: white;
    }
  }



  .beverages-submit {
    background-color: #EE4380;
    color: white;
    width: 100%;
    border-radius: 0%;
    position: absolute;
    bottom: 0;
    font-size: 2.5rem;
    padding: 20px;
  }


}


@media (max-width: 992px) {

}
