
.donations-menu-container {
  background-color: #F4F6F8;
  padding: 30px 50px;
  min-height: 90vh;

  .header {
    margin: 30px 40px;

    .atras {
      font-size: 2.2em;
      color: black;
    }
    .atras:hover {
      text-decoration: none;
    }

    .subtitle {
      font-weight: bold;
      font-size: 2.4em;
      margin-bottom: 25px;
      margin-top: 10px;
    }

  }



  .menu-card-coffee {
    text-align: center;
    img {
      display: inline-block;
      width: 90%;
      height: 90%;
    }

  }
  .menu-card-hug {
    text-align: center;
    position: relative;

    img {
      display: inline-block;
      width: 90%;
      height: 90%;
    }

    .layoverheart {
      position: absolute;
      top: 21%;
      right: 17%;
      width: 61%;


    }

  }

  .span-option-name {
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: #8F8F8F;
  }

  .menu-intructions-img {
    margin-top: 100px;
    text-align: center;
    img {
      width: 80%;
      height: 80%;
    }
  }

}

.donations-thankyou-container {
  background-color: #F4F6F8;
  padding: 30px 50px;
  min-height: 90vh;

  .thankyou-button-perfil {
    font-family: 'Roboto';
    font-size: 2.3rem;
    color: black;
    display: inline-block;
    margin-left: 3%;
    margin-top: 2.7%;
  }
  .thankyou-button-perfil:hover {
    text-decoration: none;
  }


  .thankyou-heart-coffee {
    margin-top: 34%;
    height: 700px;

    .thankyou-heart-img {
      text-align: center;
      img {
        height: 70%;
        width: 80%;
      }
    }
    .thankyou-coffees-img {
      text-align: center;
      position: relative;
      top: -465px;
      img {
        height: 45%;
        width: 45%;
      }
    }
  }
  .thankyou-gracias {
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
    img {
      width: 40%;
    }
  }


}


//  media queries

@media (max-width: 992px) {


}
