.subtitle-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.fullname-font {
  font-family: Segoe UI;
  font-size: 16px;
}

.admin-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 29px;
  letter-spacing: -0.02em;
}

.form-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.form-coffe-numbers {
  font-family: Happy Monkey;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
}

.carusel-index-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 18px;
}
