
.hug-new-container {
  background-color: #F4F6F8;
  padding-top: 25px;
  min-height: 90vh;
  position: relative;


  .header {
    margin: 30px 59px;
    a {
      font-size: 2.3rem;
      color: black;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      font-weight: bold;
      font-size: 2.6rem;
      margin-top: 1%;
    }
  }

  .form-container-no-button {
    padding: 0px 50px;
    padding-bottom: 15px;


    .hug-section {
      padding-top: 40px;
      text-align: center;


      .hug-touch {
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
        width: 700px;
        height: 700px;
        margin: 60px auto;
        margin-bottom: 9%;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          height: 69%;
          bottom: 16%;
          right: 32%;
          z-index: 1;
        }
        .mini-circles {
          position: absolute;
          background-color: #EE4380;
          border-radius: 50%;
        }
        .mini-circle-1 {
          bottom: 42%;
          right: 50%;
          // background-color: yellow;
        }
        .mini-circle-2 {
          bottom: 42%;
          left: 50%;
          // background-color: blue;
        }
        .mini-circle-3 {
          top: 42%;
          right: 50%;
          // background-color: aquamarine;
        }
        .mini-circle-4 {
          top: 42%;
          left: 50%;
          // background-color: violet;
        }
        .mini-circle-5 {
          bottom: 58%;
          left: 43%;
          // background-color: beige;
        }
        .mini-circle-6 {
          bottom: 58%;
          right: 43%;
          // background-color: #EE4380;
        }
        .mini-circle-7 {
          top: 58%;
          left: 43%;
          // background-color: green;
        }
        .mini-circle-8 {
          top: 58%;
          right: 43%;
          // background-color: greenyellow;
        }
      }

      .timer-counter {
        font-family: 'Happy Monkey';
        font-size: 3.2em;
        margin-bottom: 60px;
      }

      .instructions-hug {
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 2.4em;
      }
    }






    .form-section {
      .header-b {
        font-weight: bold;
        font-size: 2.6em;
        margin-left: 20px;
      }
    }


    .form-section-card {

      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
      border-radius: 5px;
      padding: 85px 58px;
      margin: 40px 0;

      p {
        font-weight: 300;
        font-size: 2.5em;
      }
      label {
        font-size: 2em;
        margin-top: 6.5%;
        display: inline-block;
      }
      input {
        height: 90px;
        font-size: 2em;
      }
      textarea {
        min-height: 150px;
        font-size: 2em;
      }
    }

  }




  .hugs-next {
    background-color: #EE4380;
    color: white;
    width: 100%;
    border-radius: 0%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 2.5rem;
    a {
      color:white;
      text-decoration: none;
    }
  }

  .hugs-submit {
    background-color: #EE4380;
    color: white;
    width: 100%;
    border-radius: 0%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 2.5rem;
    a {

      color:white;
      text-decoration: none;
    }
  }


















}
