// INDEX IMAGES VIEW

.main-content-images-index {
  color: #454F5B;
  background-color: #F4F6F8;
  padding-bottom: 100px;

  .title {
    position: relative;
    h1 {
      display: inline-block;
      font-weight: bold;

      color: #212B36;
    }
    a {
      background-color: #EE4380;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      color: #FFFFFF;
      display: inline-block;
      margin: 34px 0;
      padding: 10px 40px;
      position: absolute;
      right: 5px;
      top: 15px;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .images-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 20px 20px;
    position: relative;
    p {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
    }
    .pink-line {
      width: 81px;
      position: absolute;
      border: 3px solid #EE4380;
      top:50px;
    }

    .to-the-right img {
      width: 71px;
      height: 71px;
      display: inline-block;
      border-radius: 50%;
      border: 2px solid #EE4380;
    }

    .to-the-right {
      text-align: center;
    }

    .subtitle p {
      color:#9C9A9A;
      font-size: 1.1rem;
      margin-top: 13px;
    }

    .icons-actions {
      text-align: right;
      position: relative;

      .dots {
        display: inline-block;
        margin: 10px 40px;
        padding: 10px;
      }
      .dots:hover + .hideme {
        display: block;
      }

      .hideme {
        display: none;
        position: absolute;
        right: 40px;
        top: 26px;
        text-align: left;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.25), 0px 0px 0px rgba(10, 10, 10, 0.25);
        border-radius: 5px;

        .element {
          a {
            color: #454F5B;
            font-size: 13px;
            display: inline-block;
            margin: 8px 35px;
          }

          a:hover { text-decoration: none;}
        }
        .element:hover {
          background-color: #F4F6F8;
        }
        .eliminar {
          position: relative;
          img {
            position: absolute;
            top: 11px;
            left: 12px;
          }
        }
      }
      .hideme:hover {
        display: block;
      }
    }

  }
}


// NEW IMAGE VIEW

.main-content-images-new {
  color: #454F5B;
  background-color: #F4F6F8;
  height: 100vh;

  .title {
    h1 {
      font-weight: bold;
      color: #212B36;
    }
    a {
      color: #566073;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      padding-left: 20px;
      font-family: 'Roboto';
    }
    a:hover {
      color: #454F5B;
      text-decoration: none;
    }
    img {
      position: absolute;
      top: 5px;
      left: 0;
      display:inline-block;
    }
    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .instructions-1 {
    padding-right: 70px;
    padding-top: 60px;
    .info-a {
      font-weight:bold;
      color: black;
    }
    .info-b {
      font-weight: bold;
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #637381;
    }
  }

  .instructions-2 {
    padding-right: 70px;
    padding-top: 20px;
    .info-a {
      font-weight:bold;
      color: black;
    }
    .info-b {
      font-weight: bold;
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #637381;
    }
  }

  .images-card {
    position: relative;
    height: 300px;
    .input {
      box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
      border-radius: 5px;
    }
    .span-load-image {
      position: absolute;
      color: #008EDB;
      font-size: 14px;
      top: 80px;
      right: 50px;
      z-index: 1;
    }
    .span-imagen-principal {
      position: absolute;
      font-weight: bold;
      font-size: 14px;
      top: 60px;
      left: 20px;
      z-index: 1;
    }

  }

  .images-card-2 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding:20px;
    margin-bottom: 20px;
    label {
      font-weight: bold;
      font-size: 14px;
    }


    .checkbox {
      margin-top: 20px;
      position: relative;

      .styled-checkbox {
        position: absolute;
        top: 4px;
        background-color: #FFFFFF;
        border: 1px solid #C4CDD5;
        border-radius: 2px;
        display: inline-block;
        height: 15px;
        .box-input {
          opacity: 0;
          transform: scale(2);
        }
      }

      .styled-checkbox:hover {
        background-color: #EE4380;
      }
      .pinkmeup1 {
        background-color: #EE4380;
      }
      label {
        display: inline-block;
        margin-left: 35px;
      }
    }
  }



  .footer {
    text-align: right;
    padding-bottom: 40px;
    .images-new-save {
      background-color: #EE4380;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      color: #FFFFFF;
      display: inline-block;
      margin: 34px 0;
      padding: 10px 40px
    }
  }

}



//  EDIT IMAGE VIEW

.main-content-images-edit {

  color: #454F5B;
  background-color: #F4F6F8;


  .title {
    h1 {
      font-weight: bold;
      color: #212B36;
    }
    a {
      color: #566073;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      padding-left: 20px;
      font-family: 'Roboto';
    }
    a:hover {
      color: #454F5B;
      text-decoration: none;
    }
    img {
      position: absolute;
      top: 5px;
      left: 0;
      display:inline-block;
    }
    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .current-image {
    text-align: center;
    img {
      width: 340px;
      height: 340px;
      border-radius: 50%;
      border: 2px solid #EE4380;
    }

  }

  .images-card {
    position: relative;
    height: 300px;
    .span-load-image {
      position: absolute;
      color: #008EDB;
      font-size: 14px;
      top: 80px;
      right: 50px;
      z-index: 1;
    }

  }

  .instructions-1 {
    padding-right: 70px;
    padding-top: 60px;
    .info-a {
      font-weight:bold;
      color: black;
    }
    .info-b {
      font-weight: bold;
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #637381;
    }
  }

  .instructions-2 {
    padding-right: 70px;
    padding-top: 20px;
    .info-a {
      font-weight:bold;
      color: black;
    }
    .info-b {
      font-weight: bold;
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: #637381;
    }
  }

  .images-card-3 {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding:20px;
    margin-bottom: 20px;

    label {
      font-weight: bold;
      font-size: 14px;
    }


    .checkbox {
      margin-top: 20px;
      position: relative;

      .styled-checkbox {
        position: absolute;
        top: 4px;
        background-color: #FFFFFF;
        border: 1px solid #C4CDD5;
        border-radius: 2px;
        display: inline-block;
        height: 15px;
        .box-input {
          opacity: 0;
          transform: scale(2);
        }
      }

      .styled-checkbox:hover {
        background-color: #EE4380;
      }
      .pinkmeup1 {
        background-color: #EE4380;
      }
      label {
        display: inline-block;
        margin-left: 35px;
      }
    }
  }


  .footer {
    text-align: right;
    padding-bottom: 40px;
    .images-edit-save {
      background-color: #EE4380;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      color: #FFFFFF;
      display: inline-block;
      margin: 34px 0;
      padding: 10px 40px
    }
  }

  .lonehr {
    margin-top: 3rem;
  }

}
