
// PUBLIC PROFILE

.profile-show-container {
  background-color: #F4F6F8;
  padding-top: 25px;
  min-height: 90vh;
  position: relative;
  padding-bottom: 148px;

  .profile-bio {
    margin: 62px 64px 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2.2rem;
  }

  .profile-images {
    margin: 24px 20px;
    text-align: center;
    img {
      height: 600px;
      width: 800px;
      border-radius: 5px;
    }
    span {
      display: block;
      margin-top: 5px;
      font-style: italic;
      font-weight: 300;
      font-size: 1.7rem;
      color: #8F8F8F;
    }
  }

  .profile-donations {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 40px 40px;
    margin: 24px 70px;
    margin-bottom: 10px;
    position: relative;
    height: 400px;
    overflow: hidden;
    font-family: 'Roboto';

    img {
      position: absolute;
      right: 54px;
      top: 31px;
    }

    .donation-coffee {
      width: 95px;
      height: 118px;
    }

    .donation-hug {
      width: 159px;
      height: 125px;
    }
    #number-circle {
      background-color: white;
      right: 35px;
      top: 15px;
      text-align: center;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1.5px solid #EE4380;
      #number-quantity {
        font-size: 2em;
      }
    }

    .number-duration {
      position: absolute;
      top: 25px;
      right: 42px;
      color: white;
    }
    .name {
      font-weight: bold;
      font-size: 2.2rem;
      color: #363636;
      display: block;
    }
    .occupation {
      font-weight: 300;
      font-size: 2.1rem;
      color: #8F8F8F;
      display: block;
      margin-bottom: 7%;
    }
    .message {
      margin-top: 20px;
      font-size: 2rem;
    }
  }

  .profile-to-menu-button {
    background-color: #EE4380;
    color: white;
    width: 100%;
    border-radius: 0%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    a {
      font-size: 2.5rem;
      color:white;
      text-decoration: none;
    }
    p {
      font-size: 2.5rem;
      color:white;
      text-decoration: none;
    }

  }


}


// ADMIN EDIT


.main-content-profile-edit {
  color: #454F5B;
  background-color: #F4F6F8;
  h1 {
    font-weight: bold;
    color: #212B36;
  }
  a:hover {
    text-decoration: none;
  }

  .profile-edit-form {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    padding: 20px;
    // label { font-weight: bold; }

    .multiplicadores {
      padding-bottom: 32px;
      margin-top: 35px;

      .radio-inputs {
        text-align: center;
        input {
          border: 1.2px solid #EE4380;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin: 0 10px;
          display: inline-block;
        }
      }

    }
  }



  .image-section {
    padding:20px 0;
    p { font-weight: bold; }
  }

  .footer {
    text-align: right;
    padding-bottom: 40px;
    .profile-save {
      background-color: #EE4380;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      color: #FFFFFF;
      display: inline-block;
      margin: 34px 0;
      padding: 10px 40px
    }
  }
}


//  edit media query

@media (max-width: 992px) {




}
