

.log-in-container {
  background-color: rgba(230, 215, 215, 0.2);
  padding: 18% 24px;
  min-height: 100vh;
  position: relative;
  text-align: center;
  font-size: 1.9rem;


  width: 790px;
  margin: 0 auto;


  h2 {
    font-size: 6rem;
    margin: 12% 5%;
    font-family: 'Happy Monkey';
  }
  label {
    font-size: 2.5rem;
    font-family: 'Happy Monkey';
  }
  input {
    font-size: 2.5rem;
  }
  .checkmark {
    transform: scale(3);
    margin-right: 3%;
    position: relative;
    top: -6px;
  }
}

.sign-up-container {
  background-color: rgba(230, 215, 215, 0.2);
  padding: 18% 24px;
  min-height: 100vh;
  position: relative;
  text-align: center;
  font-size: 1.9rem;



  width: 790px;
  margin: 0 auto;



  h2 {
    font-size: 6rem;
    margin: 12% 5%;
    font-family: 'Happy Monkey';
  }
  label {
    font-size: 2.5rem;
    font-family: 'Happy Monkey';
  }
  input {
    font-size: 2.5rem;
  }
}


.login-signup-button {
  width: 28%;

  background: #EE4380;
  border-radius: 5px;
  text-align: center;
  padding: 8px 10px;
  margin: 11% auto;
  position: relative;
  .testmehere {
    background-color: #EE4380;
    border: 1px solid #EE4380;
    color: white;
  }
  .testmehere:hover {
    cursor: pointer;
  }
}




.customfield {
  padding: 20px;

  input {
    border-radius: 10px;
  }
}


@media (max-width: 1199.98px) {

  .log-in-container {
    width: 100%;
  }

  .sign-up-container {
    width: 100%;
  }
}
