#pink-icon {
  color: #EE4380;
}



.navbartop {
  display: flex;
  flex-wrap: wrap;
}


.nav-avatar {
  background-color: #EA5F91;
  border-left: 1px solid  #EE4380;
  padding-left: 17px;
  padding-right: 30px;

  flex-grow: 0;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display:inline-block;
    margin: 10px 10px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.35rem;
    font-family: SegoeUi;
  }

  a:hover {
    text-decoration: none;
    color: white;
  }
}

.nav-search {
  background-color: #EA5F91;

  flex-grow: 1;

  .barra {
    width: 90%;
    height: 63%;
    background-color: #F67DA8;
    opacity: 0.77;
    position: relative;
    top: 17%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.nav-logo {
  background-color: #EE4380;
  text-align: center;
  position: relative;
  img {
    width: 100px;
  }
}






.side-bar {
  background-color: #F4F6F8;
  border-right:  1px solid #DFE4E8;
  .icono-nav {
    margin: 15px 0;
    a {
      color: black;
      font-weight: bold;
      display: inline-block;
      margin-left: 20px;
      font-size: 1.1rem;
    }
    a:hover {
      color: #EE4380;
      text-decoration: none;
    }
    .icon-svg {
      width: 18px;
      position: relative;
      top: -2px;
    }
  }

}

// //
// @media (max-width: 1199.98px) {
//   .nav-avatar {

//     a {
//       display: none;
//     }


//   }
// }


// @media (max-width: 992px) {
//   .pinkmeuprow {
//     height: 168px;
//   }
//   .nav-logo {
//     padding: 10px;

//     img {
//       width: 113%;
//       top: 10%;
//       left: 4%;
//     }
//   }

//   .nav-search {
//     display: none;
//   }

//   .nav-avatar {
//     background-color: #EE4380;
//     img {
//       width: 101%;
//       height: 81%;
//       position: relative;
//       top: 4%;
//       right: -465.52%;
//     }
//     a {
//       display: none;
//     }
//   }



//   .side-bar {
//     display: none;
//   }

// }
