.shared-public-nav-container {
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;

  .item-1 {
    flex-grow: 1;
    a {
      display: inline-block;
      position: relative;
      left: 13%;
    }
  }

  .circled-avatar {
    padding: 25px 15px;
    padding-top: 30px;
    img {
      height: 140px;
      width: 140px;
      border: 3.8px solid #EE4380;
      border-radius: 50%;
    }
  }

  .item-2 {
    flex-grow: 4;
    padding-top: 14px;
  }

  .datos-nav {
    .datosnavwrapper {
      position: relative;
      right: 2%;
      margin-top: 6%;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 2.3rem;
    }
    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 2.3rem;
      color: #8F8F8F;
      display: block;
    }

  }


  .buttonroot {
    img {
      position: relative;
      top: 58px;
      left: 30px;
      width: 176px;
      height: 89px;
    }
  }

}

//  media query
@media (max-width: 992px) {

}
