
.container-fluid


  =render 'shared/admin_nav_top'

  .row.full-screen
    .col-2.side-bar.pl-4.pt-4
      =render 'shared/admin_nav_side'

    .col-10.main-content-images-edit.px-5

      .title.pt-5.pl-2
        .subtitle-font
          =link_to image_tag("arrow.png") + " Listado de Imagenes", profile_images_path(current_user.profile)
        .admin-title-font
          %h1 Editar Imagen
          %hr

      .row



        .col-sm-5.instructions-1
          .subtitle-font
            %p.info-a Imagen actual del carousel
          .form-font
            %p.info-b Editar imagen que se mostrará en el carousel del perfil público
        .col-sm-7.current-image
          - begin
            =image_tag(@image.photo)
          - rescue
            %p no image yet
      %hr.lonehr


      = form_with(model: @image, local: true) do |form|
        - if @image.errors.any?
          #error_explanation
            %h2
              = pluralize(@image.errors.count, "error")
              prohibited this profile from being saved:
            %ul
              - @image.errors.full_messages.each do |message|
                %li= message


        .row
          .col-sm-5.instructions-1
            .subtitle-font
              %p.info-a Imagen del carousel
            .form-font
              %p.info-b Editar imagen que se mostrará en el carousel del perfil público

          .col-sm-7
            .images-card.py-5.form-font
              %span.span-load-image Cargar Imagen
              = form.file_field :photo, class: 'form-control dropify '
        %hr

        .row.mt-5
          .col-sm-5.instructions-2
            .subtitle-font
              %p.info-a Datos de la imagen
            .form-font
              %p.info-b Parámetros de la publicación y leyenda de la imagen a mostrarse en el carousel
          .col-sm-7
            .images-card-3.subtitle-font
              = form.label :subtitle, 'Subtítulo'
              = form.text_field :subtitle, class: 'form-control'
              .checkbox.form-font
                .styled-checkbox
                  = form.check_box :public, class: 'box-input'
                = form.label :public, 'Mostrar esta imagen en el perfil público'
        %hr

        .footer
          = form.submit 'Guardar', class: 'btn images-edit-save form-font'



