.container-fluid


  =render 'shared/admin_nav_top'

  .row.full-screen
    .col-2.side-bar.pl-4.pt-4
      =render 'shared/admin_nav_side'

    .col-10.main-content-images-index.px-5


      .title.pt-5.pl-2
        .admin-title-font
          %h1 Carousel de imagenes
        .form-font
          = link_to 'Agregar', new_profile_image_path(@profile)
          %hr


      .images-card.mt-5
        %p Imágenes
        %hr.pink-line

        - @images.each do |image|
          %hr
          .row
            .col-sm-2.py-3.to-the-right
              = image_tag(image.photo)
            .col-sm-7.pt-4.pb-3.subtitle
              %p= image.subtitle
            .col-sm-3.py-3
              .icons-actions
                =image_tag "dots.png", class: 'dots'


                .hideme
                  -# =image_tag "bubble.svg", class: 'bubble'
                  .element
                    = link_to 'Editar', edit_image_path( image ), class: 'link1'
                  .element.eliminar
                    =image_tag('equis.png')
                    = link_to 'Eliminar', image, class: 'link2', method: :delete, data: { confirm: 'Are you sure?' }




