!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AbrazosCafeApp
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Happy+Monkey", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700i", :rel => "stylesheet"}/


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    -# %p.notice
    -#   =notice
    -# %p.alert
    -#   =alert

    = yield




