.container-fluid


  =render 'shared/admin_nav_top'

  .row.full-screen
    .col-2.side-bar.pl-4.pt-4
      =render 'shared/admin_nav_side'

    .col-10.index-account.px-5


      .title.pt-5.pl-2
        .admin-title-font
          %h1 Listado de cuentas
        .form-font
          = link_to 'Agregar', new_profile_account_path(@profile), class: 'pink-button form-font'
        %hr

      .accounts-table.mt-5
        %table.table.carusel-index-font
          .table-encabezado
            %p Cuentas
            %hr
          %thead
            %tr
              %th.py-4 Banco
              %th.py-4 Tipo de cuenta
              %th.py-4 Número de cuenta
              %th.py-4 Email
              %th{colspan: "3"}
          %tbody
            - @accounts.each do |account|
              %tr
                %td.py-4
                  -if account.bank != ''
                    %p=account.bank
                  -elsif account.paypal != ''
                    %p=account.paypal
                %td.py-4
                  %p= account.kind
                %td.py-4
                  %p= account.account_number
                %td.py-4
                  -if account.email != ''
                    %p= account.email
                  -elsif account.emailpaypal != ''
                    %p= account.emailpaypal
                %td.pb-4.icons-actions
                  =image_tag "dots.png", class: 'dots'
                  .hideme
                    .element
                      = link_to 'Editar', edit_account_path( account )
                    .element.eliminar
                      =image_tag('equis.png')
                      = link_to 'Eliminar', account, method: :delete, data: { confirm: 'Are you sure?' }

