
.container-fluid


  =render 'shared/admin_nav_top'

  .row.full-screen
    .col-2.side-bar.pl-4.pt-4
      =render 'shared/admin_nav_side'

    .col-10.new-account.px-5

      .title.pt-5.pl-2
        .subtitle-font
          =link_to image_tag("arrow.png") + " Listado de Cuentas", profile_accounts_path(current_user.profile)
        .admin-title-font
          %h1 Agregar Cuenta
          %hr

      = form_with(model: [@profile, @account], local: true) do |form|
        - if @account.errors.any?
          #error_explanation
            %h2
              = pluralize(@account.errors.count, "error")
              prohibited this profile from being saved:
            %ul
              - @account.errors.full_messages.each do |message|
                %li= message
        .row
          .col-4.instructions-1
            .subtitle-font
              %p.info-a Datos de la cuenta
            .form-font
              %p.info-b Agregue los datos de la cuenta que se mostrarán en su perfil público

          .col-8

            .optionscontainer
              .optionswrapper
                #bank
                  %span Bank
                #paypal
                  %span Paypal
            .account-form-new
              .banksection
                .field.form-group
                = form.label :bank, 'Banco', class: 'form-font'
                = form.text_field :bank, class: 'form-control'
                .field.form-group
                = form.label :kind, 'Tipo de cuenta', class: 'form-font'
                = form.text_field :kind, class: 'form-control'
                .field.form-group
                = form.label :account_number, 'Número de cuenta', class: 'form-font'
                = form.text_field :account_number, class: 'form-control'
                .field.form-group
                = form.label :email, 'Email', class: 'form-font'
                = form.text_field :email, class: 'form-control'
                .field.form-group
                = form.label :cedula, 'RIF o cédula ', class: 'form-font'
                = form.text_field :cedula, class: 'form-control'


              .paypalsection.d-none
                .field.form-group
                = form.label :paypal, 'Paypal', class: 'form-font'
                = form.text_field :paypal, class: 'form-control'
                .field.form-group
                = form.label :emailpaypal, 'Email', class: 'form-font'
                = form.text_field :emailpaypal, class: 'form-control'

        %hr

        .footer
          = form.submit 'Guardar', class: 'btn pink-button form-font'


